<!DOCTYPE html>
<html>

<head>
	<title>Admin Dashboard</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" 
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" 
	crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css">
	<!--
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"> -->
	<script src="https://code.jquery.com/jquery-3.6.1.js" 
	integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" 
	crossorigin="anonymous"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>

</head>

<body>
	<h1 class="d-flex justify-content-center"><%= title %></h1>
	<div class="container">
		<button type="button" class="logoutbtn btn btn-danger float-end">Logout</button>
	</div>
	<div class="container">
		<h3>Add Book</h3>
		<form class="form form1"  method="POST">
			<input type="text" id="name" placeholder="Book Name" name="bookName" required />
			<input type="text" id="author" placeholder="Book Author" name="bookAuthor" required/>
			<input type="text" id="pages" placeholder="Book Pages" name="bookPages" required/>
			<input type="text" id="prices" placeholder="Book Price" name="bookPrice" required/>
			<button type="submit" class="submitbtn btn btn-primary">Add</button>
		</form>
	</div>
	<br/>
	
	<div class="container table-responsive div1">
		<table class="table border table1">
			<thead class="thead-dark">
				<tr>
					<th>Sr No.</th>
					<th>Book Name</th>
					<th>Book Author</th>
					<th>Book Pages</th>
					<th>Book Price</th>
					<th>Book Availablity</th>
					<th>Issue</th>
					<th>Return</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody class="maintable">
				<p hidden><%= i=1 %></p>
				<% data.forEach(element => { %>
					<tr>
						<td><%= i %></td>
						<td><%= element.bookName %></td>
						<td><%= element.bookAuthor %></td>
						<td><%= element.bookPages %></td>
						<td><%= element.bookPrice %></td>
						<td><%= element.bookState %></td>
						<td><button type="button" class="issuebtn btn btn-info">Issue</button></td>
						<td><button type="button" class="returnbtn btn btn-warning"> Return </button></td>
						<td><button type="button" class="deletebtn btn btn-danger" 
							data-toggle="modal" data-target="#exampleModal"> Remove </button></td>
					</tr>
					<p hidden><%= i = i+1 %></p>
				<% }) %>
			</tbody>
		</table>
	</div>

	<br/>

	<div class="footer d-flex justify-content-center">
		<p>&copy; Swapnil Pawar 2022</p>
	</div>
	<script>
		$(document).ready(function(){
			$('.logoutbtn').on('click', function(){
				logout();
			})

			$('.table1').DataTable();

			$('.form1').submit(function(e){
				insert();
				e.preventDefault();
				document.getElementsByClassName('form1')[0].reset();
			})	

			$('.table1').on('click', '.issuebtn', function(){
				var currentRow=$(this).closest("tr"); 
				 let bookName = currentRow.find('td:eq(1)').text();
				currentRow.find("td:eq(5)").html(" ").append("Issued");
				 issue(bookName);
			})
			
			$('.table1').on('click', '.returnbtn', function(){
				var currentRow=$(this).closest("tr"); 
				 let bookName = currentRow.find('td:eq(1)').text();
				 currentRow.find("td:eq(5)").html(" ").append("Available");
				 returned(bookName);
			})

			$('.table1').on('click', '.deletebtn', function(){
				var currentRow=$(this).closest("tr"); 
				let bookName = currentRow.find('td:eq(1)').text();
				deleteBook(bookName, currentRow);
				
			})

		})

		function logout(){
			$.ajax({
				type: "post",
				url: "/api/adminlogout",
				success: function(data){
					window.location.reload();
					window.location.href = data.url;
				}
			})
		}

		function deleteBook(bookName, rown){
			data = {
				bookName: bookName,
			}
			$.ajax({
				type: "post",
				url: "/api/delete",
				data: data,
				success: function(data){
					if(data.status == 200){
						$('.table1').DataTable().row(rown).remove().draw();
						alert('Book Removed');
						
					}else if(data.status == 500){
						alert('Book never Added or is Issued')
					}
				}
			})
		}

		function returned(bookName){
			data = {
				bookName: bookName,
			}
			$.ajax({
				type: "post",
				url: "/api/return",
				data: data,
				success: function(data){
					if(data.status == 200){
						alert('Book Retured');
					}else if(data.status == 500){
						alert('Book Available')
					}
				}
			})
		}

		function issue(bookName){
			data = {
				bookName: bookName,
			}
			$.ajax({
				type: "post",
				url: "/api/issue",
				data: data,
				success: function(data){
					if(data.status == 200){
						alert('Book Issued');
					}else if(data.status == 500){
						alert('Book already Issued')
					}
				}
			})
		}

		function insert(){
			//$('#name').val();
			let name = $('#name').val(); 
			let author = $('#author').val(); 
			let pages = $('#pages').val();
			let price = $('#prices').val();
			var data = {
				name: $('#name').val(),
				author: $('#author').val(),
				pages: $('#pages').val(),
				price: $('#prices').val()
			}
			$.ajax({
				type: "post",
				url: '/api/add',
				data: data,
				success: function(data){
					if(data.status == 200){
						var i = data.len;
						$('.table1').DataTable().row.add([
							i,
							name,
							author,
							pages,
							price,
							"Available",
							'<button type="button" class="issuebtn btn btn-info"> Issue </button>',
							'<button type="button" class="returnbtn btn btn-warning"> Return </button>',
							'<button type="button" class="deletebtn btn btn-danger"> Remove </button>',
						]).draw();
					}else if(data.status == 409){
						alert('Book present with same name')
					}
				}
			})
		}
	</script>
</body>
</html>
